<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewCard"></activity>
        <activity android:name=".loginDetails" />
        <activity android:name=".updateExercise3" />
        <activity android:name=".uodateExercise2" />
        <activity android:name=".UpdateMeal3" />
        <activity android:name=".UpdateMeal2" />
        <activity android:name=".schedule3" />
        <activity android:name=".schedule2" />
        <activity android:name=".MealPlan3" />
        <activity android:name=".MealPlan2" />
        <activity android:name=".category3" />
        <activity android:name=".category2" />
        <activity android:name=".updateExercise" />
        <activity android:name=".Schedule" />
        <activity android:name=".UpdateMeal" />
        <activity android:name=".cardUpdate" />
        <activity android:name=".loginUpdate" />
        <activity android:name=".MealPlan" />
        <activity android:name=".Category" />
        <activity android:name=".SpecialPlan" />
        <activity android:name=".CARD_DETAILS" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>