<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cresent"></activity>
        <activity android:name=".warrior" />
        <activity android:name=".chairpose" />
        <activity android:name=".legsUpdate" />
        <activity android:name=".view3" />
        <activity android:name=".ABsUpdate" />
        <activity android:name=".view2" />
        <activity android:name=".OUpdate" />
        <activity android:name=".Addotherdata3" />
        <activity android:name=".Addotherdata2" />
        <activity android:name=".view" />
        <activity android:name=".Addotherdata" />
        <activity android:name=".upwarddog" />
        <activity android:name=".forarms" />
        <activity android:name=".singlearm" />
        <activity android:name=".BigToe" />
        <activity android:name=".legs" />
        <activity android:name=".ABS" />
        <activity android:name=".Kingpegonpose" />
        <activity android:name=".cobrapose" />
        <activity android:name=".addEx" />
        <activity android:name=".update" />
        <activity android:name=".NewEX" />
        <activity android:name=".yoga"></activity>
        <activity android:name=".UpdateOneArmRow" />
        <activity android:name=".UpdateHammerCurl" />
        <activity android:name=".UpdateSumo" />
        <activity android:name=".UpdateDumSquat" />
        <activity android:name=".UpdateShoulderPress" />
        <activity android:name=".UpdatePullOver" />
        <activity android:name=".UpdateDoumblLateral" />
        <activity android:name=".UpdateDoumbleExtension" />
        <activity android:name=".UpdateFrontRaise" />
        <activity android:name=".UpdateBenchPress" />
        <activity android:name=".UpdateDoumbleFly" />
        <activity android:name=".UpdateDoummbleCurl" />
        <activity android:name=".UpdateBentOverRow" />
        <activity android:name=".AddSumo" />
        <activity android:name=".DumSumo" />
        <activity android:name=".AddDoumbleSqaut" />
        <activity android:name=".DumSquat" />
        <activity android:name=".LegsPage" />
        <activity android:name=".BentOver" />
        <activity android:name=".AddBentOver" />
        <activity android:name=".AddOneArmRow" />
        <activity android:name=".OneArmRow" />
        <activity android:name=".DumbellExtension" />
        <activity android:name=".AddDummbellExtension" />
        <activity android:name=".AddHammerCurl" />
        <activity android:name=".HammerCurl" />
        <activity android:name=".DoumbbleCurl" />
        <activity android:name=".AddDoumbleCurl" />
        <activity android:name=".BackPage" />
        <activity android:name=".ArmsPage" />
        <activity android:name=".AddDoumbleFront" />
        <activity android:name=".DumbbelFrontRaise" />
        <activity android:name=".AddDummbellLateral" />
        <activity android:name=".AddDummbellShoulderPress" />
        <activity android:name=".DummbellLateral" />
        <activity android:name=".DummbellShoulderPress" />
        <activity android:name=".AddDummbellPullOver" />
        <activity android:name=".DummbellPullOver" />
        <activity android:name=".DoumbellFlys" />
        <activity android:name=".AddDummbellFly" />
        <activity android:name=".AddDoumbleBenchPress" />
        <activity android:name=".ShoulderPage" />
        <activity android:name=".DoumbleBenchPress" />
        <activity android:name=".ChestPage" />
        <activity android:name=".MainPage" />
        <activity android:name=".updatepikepushup" />
        <activity android:name=".updateflutterkicks" />
        <activity android:name=".addingflutterkicks" />
        <activity android:name=".updatecrunches" />
        <activity android:name=".addingcrunch" />
        <activity android:name=".updatetricepdips" />
        <activity android:name=".updateshouldertaps" />
        <activity android:name=".addingshouldertaps" />
        <activity android:name=".addingtricepdips" />
        <activity android:name=".updatewallpush" />
        <activity android:name=".addingwallpush" />
        <activity android:name=".updatebicycle" />
        <activity android:name=".addindbicycle" />
        <activity android:name=".addpikepushupi" />
        <activity android:name=".updatecrabwalk" />
        <activity android:name=".addcrabActivity" />
        <activity android:name=".UpdatePlanktodown" />
        <activity android:name=".addingplankto" />
        <activity android:name=".updatedecpush" />
        <activity android:name=".addingdecpush" />
        <activity android:name=".updateinclinepush" />
        <activity android:name=".addinclinepush" />
        <activity android:name=".updateregpush" />
        <activity android:name=".addregpush" />
        <activity android:name=".crunches" />
        <activity android:name=".bicycleexercise" />
        <activity android:name=".flutterkicks" />
        <activity android:name=".shouldertaps" />
        <activity android:name=".tricepdips" />
        <activity android:name=".wallpush" />
        <activity android:name=".pikepushup" />
        <activity android:name=".CrabWalk" />
        <activity android:name=".planktdown" />
        <activity android:name=".declinepushup" />
        <activity android:name=".InclinePushup" />
        <activity android:name=".regularpushup" />
        <activity android:name=".abbspart" />
        <activity android:name=".armspart" />
        <activity android:name=".chestpart" />
        <activity android:name=".shoulderpart" />
        <activity android:name=".withoutActivity" />
        <activity android:name=".viewFeed3" />
        <activity android:name=".viewFeed2" />
        <activity android:name=".feedback3" />
        <activity android:name=".feedback2" />
        <activity android:name=".viewFeed" />
        <activity android:name=".feedback1" />
        <activity android:name=".forgetPw" />
        <activity android:name=".contactUs" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aboutUs" />
        <activity android:name=".home" />
        <activity android:name=".viewCard" />
        <activity android:name=".loginDetails" />
        <activity android:name=".updateExercise3" />
        <activity android:name=".uodateExercise2" />
        <activity android:name=".UpdateMeal3" />
        <activity android:name=".UpdateMeal2" />
        <activity android:name=".schedule3" />
        <activity android:name=".schedule2" />
        <activity android:name=".MealPlan3" />
        <activity android:name=".MealPlan2" />
        <activity android:name=".category3" />
        <activity android:name=".category2" />
        <activity android:name=".updateExercise" />
        <activity android:name=".Schedule" />
        <activity android:name=".UpdateMeal" />
        <activity android:name=".cardUpdate" />
        <activity android:name=".loginUpdate" />
        <activity android:name=".MealPlan" />
        <activity android:name=".Category" />
        <activity android:name=".SpecialPlan" />
        <activity android:name=".CARD_DETAILS" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>