<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateOneArmRow"></activity>
        <activity android:name=".UpdateHammerCurl" />
        <activity android:name=".UpdateSumo" />
        <activity android:name=".UpdateDumSquat" />
        <activity android:name=".UpdateShoulderPress" />
        <activity android:name=".UpdatePullOver" />
        <activity android:name=".UpdateDoumblLateral" />
        <activity android:name=".UpdateDoumbleExtension" />
        <activity android:name=".UpdateFrontRaise" />
        <activity android:name=".UpdateBenchPress" />
        <activity android:name=".UpdateDoumbleFly" />
        <activity android:name=".UpdateDoummbleCurl" />
        <activity android:name=".UpdateBentOverRow" />
        <activity android:name=".AddSumo" />
        <activity android:name=".DumSumo" />
        <activity android:name=".AddDoumbleSqaut" />
        <activity android:name=".DumSquat" />
        <activity android:name=".LegsPage" />
        <activity android:name=".BentOver" />
        <activity android:name=".AddBentOver" />
        <activity android:name=".AddOneArmRow" />
        <activity android:name=".OneArmRow" />
        <activity android:name=".DumbellExtension" />
        <activity android:name=".AddDummbellExtension" />
        <activity android:name=".AddHammerCurl" />
        <activity android:name=".HammerCurl" />
        <activity android:name=".DoumbbleCurl" />
        <activity android:name=".AddDoumbleCurl" />
        <activity android:name=".BackPage" />
        <activity android:name=".ArmsPage" />
        <activity android:name=".AddDoumbleFront" />
        <activity android:name=".DumbbelFrontRaise" />
        <activity android:name=".AddDummbellLateral" />
        <activity android:name=".AddDummbellShoulderPress" />
        <activity android:name=".DummbellLateral" />
        <activity android:name=".DummbellShoulderPress" />
        <activity android:name=".AddDummbellPullOver" />
        <activity android:name=".DummbellPullOver" />
        <activity android:name=".DoumbellFlys" />
        <activity android:name=".AddDummbellFly" />
        <activity android:name=".AddDoumbleBenchPress" />
        <activity android:name=".ShoulderPage" />
        <activity android:name=".DoumbleBenchPress" />
        <activity android:name=".ChestPage" />
        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>